# This file is for cfg_dump_preprocessed_* unit tests
%define HOST example.com
%define PORT 9000
%set N 2

%include "dump_inc.cfg"

server.host = ${HOST}
server.port = ${PORT}

%for i in 1..${N}
node.${i}.name = node${i}
%endfor

%if defined(EXTRA) && EXTRA == 1
extra.enabled = true
%else
extra.enabled = false
%endif
