# Preprocess dump test
%define BASE 100
%include "dump_inc.cfg"

%set N 2
%for i in 1..${N}
%set V (${BASE} + ${i})
item.${i} = ${V}
%endfor

%if defined(FLAG) || (N == 2)
ok = true
%else
ok = false
%endif
